<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download file</title>
    <style>
        button {
            background-color: rgb(39, 228, 228);
            font-size: 16px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h2 style="color: rgb(206, 68, 68); display: inline;">Click download to get the PDF </h2>
    <p>
    <form action="/download" method="get" enctype="multipart/form-data"></form>
    <a href="{{ url_for('download') }}"><button>Download</button></a>
    </p>
</body>
</html>